body
  margin 0
  padding 0

nav
  background #eee
  font-family Verdana, Helvetica, sans-serif

.basic-tabs-item-title
  &.active
    background white
    border-bottom 1px solid white
  background #ccc
  border 1px solid black
  padding 2px 5px
