form {
    display: none;
}
#msg {
    display: none;
}
#msgform {
    display: block;
}
div.wiki p {
    margin: 0;
}

div.wiki .wafl {
    white-space: nowrap;
    background: #ccc;
    border: 1px solid #333;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#tableeditor {
    /* margin:8px 140px 10px 0px; */
    margin:8px 10px 10px 0px;
}

#te_fullgrid tr:nth-child(2) td:nth-child(1) {
    background: url('gear.png') #969696 5px no-repeat;
    cursor: pointer;
}

#te_fullgrid tr:nth-child(2) td:nth-child(1):hover {
    background-color: #a0a0a0;
}
