form {
    display: none;
}
#msg {
    display: none;
}
#msgform {
    display: block;
}
div.wiki p {
    margin: 0;
}

div.wiki .wafl {
    white-space: nowrap;
    background: #ccc;
    border: 1px solid #333;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#tableeditor {
    /* margin:8px 140px 10px 0px; */
    margin:8px 10px 10px 0px;
}

.te_download tr:nth-child(2) td:nth-child(1) {
    background: url('download.png') white 5px no-repeat;
    cursor: pointer;
}

.te_download tr:nth-child(2) td:nth-child(1):hover {
    border: 1px solid #333;
}

body, body #tableeditor {
    margin-top: 0;
    padding: 0;
}
#restore {
  position: absolute; background-color: #009688;
  width: 20px; height: 20px; right: 6px; top: 50px;
  color: rgba(255,255,255,.84); border-radius: 100%;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
  padding: 15px; font-size: 24px; text-decoration: none;
  line-height: 20px; font-family: "Arial Unicode MS", sans-serif;
}
#restore:hover {
  background: #00aa9a;
}
#SocialCalc-edittools img[id] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 2px;
    margin: -2px;
}
/* loading page/sheet spinner */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498bb;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}